includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - ./

    excludePaths:
        - .foo/*
        - vendor/*
        - storage/*
        - bootstrap/cache/*

    level: 9
